.wallet-container{
    display: flex;
    justify-content: center;
    align-items: center;
    .data-container{
        margin: 10px;
        padding: 10px;
        border: solid 1px;
      
        .data-type{
      
        }
        .data{
            
        }
    }
}