@import "../../../../styles/variable.scss";

.future-today-pnl-container{
   
    width: 50%;
    height: 100%;
    padding: 0 20px;
    .bar-chart-container{
        border: solid 2px $primary-color;
        border-radius: 3px ;
        
        .bar-chart-topic-container{
            display: flex;
            justify-self: center;
            align-items: center;
            background-color: $primary-color;
            padding: 10px;
            margin-bottom: 10px;
            .bar-chart-topic{
                text-align: center;
                margin: 10px auto;
                color: $text-white-color;
            }

        }
    }
}