@import "./styles/globals.scss";

.app-container{
    .wallet-container{
        margin: 10px 0;
    }
    .futures-container{
        display: flex;
        flex-direction:row;
        justify-items: center;
        align-items: center;
    }
}